.titulo-principal {
  padding-left: 20px;
  font-family: "The Nautigal", cursive;
  font-size: 45px;
  color: #db7093;
  background: #f7d9de;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px white solid;
}

/* .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 60%;
  padding: 10px;
} */

/* .sobre {
  background: #f7d9de;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
} */
/* h2 {
  color: #db7093;
} */
/* p {
  text-align: center;
  font-size: 20px;
} */

/* .missao {
  color: white;
  font-size: 24px;
} */

/* .beneficios {
  padding: 20px;
} */

ul {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 100px;
  width: 20%;
  margin-left: 5%;
  margin-right: 10%;
  list-style: none;
}

.item-lista {
  font-style: italic;
  font-size: 22px;
}

.imagem-beneficios {
  width: 30%;
}
